{% extends 'base_logout_temp_3min_redirect.html' %}
{% load static %}
{% load humanize %}

{% block title %}メールアドレス変更完了{% endblock %}

{% block content %}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h2 style="background-color: #f8611b;">G250_change_pw_comp</h2>
                </div><!-- /.col -->
                <div class="col-sm-6">
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card p-2 m-3">

                <div class="card-header">
                    <h2 class="text-dark page-title">メールアドレス変更完了</h2>
                </div>

                <div class="card-body">
                    <div class="content">

                        <p>
                            パスワードの変更が完了しました。<br>
                            <small>3秒後に画面が切り替わります。</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}