<!DOCTYPE html>
<html lang='ja'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta http-equiv="Refresh" content="3; url=http://localhost:8000/G440_admin_member_list">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>admin_forced_withdrawal_comp</title>
</head>
<body>
    <h2 style="background-color: #f8611b;">G520_admin_forced_withdrawal_comp</h2>
    <p>【{{ user.last_name }}{{ user.first_name }}】の退会が完了しました。<br><small>※3病後に画面が切り替わります。</small></p>
    
</body>
</html>