{% extends 'base_admin_logout_temp.html' %}
{% load static %}
{% load humanize %}

{% block title %}管理者会員一覧{% endblock %}

{% block content %}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h2 style="background-color: #f8611b;">G600_admin_teaching_materials_reg</h2>
                </div><!-- /.col -->
                <div class="col-sm-6">
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card p-2 m-3">
                <div class="card-header">
                    <h2 class="text-dark page-title">教材登録</h4>
                </div>

                <div class="card-body">
                    <section class="content">

                        {{ form.errors }}
                        <form action="{% url 'G610_admin_teaching_materials_reg_conf' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <label class="form-label" for="title">教材タイトル</label>
                            <div class="col-lg-6 pb-3">{{ form.title }}</div>

                            <label class="form-label" for="content">学習内容</label>
                            <div class="col-lg-6 pb-3">{{ form.content }}</div>

                            <label class="form-label" for="url">URL</label>
                            <div class="col-lg-6 pb-3">{{ form.url }}</div>

                            <label class="form-label" for="image">画像</label>
                            <div class="col-lg-6 pb-3">
                                <!-- <div class="col-lg-6 pb-3">{{ form.image }} -->
                                <img id="img" src="" width=200px><br>
                                <input type="file" name="image" accept="image/*" onChange="imageChange(this,'img')"
                                    value="{{ request_img }}">設定する
                            </div>

                            <label class="form-label" for="programming_language">言語</label>
                            <div class="col-lg-6 pb-3">{{ form.programming_language }}</div>

                            <label class="form-label" for="release_flg">公開設定</label>
                            <div class="col-lg-6 pb-3">{{ form.release_flg }}</div>                            

                            <div class="btn-block col-lg-6 pb-3">
                                <input type="submit" class="btn btn-spapro-admin btn-block" value="確認">
                            </div>

                        </form>
                        
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/filedrop.js' %}"></script>

<script>
    const imageChange = (obj, img) => {
        let fileReader = new FileReader();
        fileReader.onload = (function () {
            document.getElementById(img).src = fileReader.result;
        });
        fileReader.readAsDataURL(obj.files[0]);
    }
</script>
{% endblock %}