{% extends 'base_logout_temp.html' %}
{% load static %}
{% load humanize %}

{% block title %}教材一覧{% endblock %}

{% block content %}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h2 style="background-color: #f8611b;">G130_teaching_materials</h2>
                </div><!-- /.col -->
                <div class="col-sm-6">
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <div class="card p-2 m-3">
        <div class="card-header">
            <h2 class="text-dark page-title">教材一覧</h4>
        </div>
        <div class="card-body pb-0">
            <div class="row mb-2">
                {% for teaching in teaching_materials %}
                <div class="col-md-6">
                    <div
                        class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-spapro">
                                {{ teaching.programming_language}}
                            </strong>
                            <h3 class="mb-0">{{ teaching.title }}</h3>
                            <div class="mb-1 text-muted">{{ teaching.update_time|date:"Y年n月j日" }}</div>
                            <p class="card-text mb-auto">{{ teaching.content|truncatechars:50 }}</p>
                            <a href="{{ teaching.url }}" class="stretched-link">習得する</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img src="{{ teaching.image }}" class="bd-placeholder-img" width="150" height="150"
                                xmlns="{% static '{{ teaching.image }}' %}" preserveAspectRatio="xMidYMid slice"
                                focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}